@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed|Cagliostro|Gotu|Monoton&display=swap");
.logo{
    width: 20%;
  }
  
  .logo img{
    width: 70px;
    margin:5px 20px 20px 5px;
    float: left;
  }
  nav{
  width: 80%;
  float: right;
}
nav ul{
  margin:10px 20px 20px;
  font-size: 22px;
  
}
nav ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
  left:490px;
  top: 25px;
  color: white;
 
}
nav ul li:hover{
  color: rgba(255, 191, 14, 0.918);
  border-bottom: 1px solid white;
}
nav ul li a{
  color: rgb(253, 253, 253);
  text-decoration: none;
}
nav button a {
  color: rgb(29, 28, 28);
  text-decoration: none;
}
  
  
  #copyright{
    background-color: rgb(17, 17, 17);
    padding: 10px 0;
    color: rgb(243, 241, 241);
    text-align: center;
  }
  header{
    min-height: 100px;
    background-color: rgba(10, 10, 10, 0.87);
    overflow: hidden;
    position: relative;
    z-index: 3;
    padding-bottom: 1px;
    
  }

  *{
    font-family: 'Poppins', sans-serif;
  }
  
  .info{
    padding: 12px;
    margin: 15px auto;
    border-radius: 3%;
    box-shadow: 2px 3px 8px grey;
      background-color: rgba(82, 82, 80, 0.616); 
      height: 420px;
      width: 500px;
      text-align: center;
      font-size: 30px;
  }
 
  #title{
    margin-bottom: 15px;
    font-family:'Monoton', cursive;
    word-spacing: 10px;
  }
  #ourproject{
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      
  }
.Obadabox{
  margin-top:30px;
  float: left;
  background-color: rgb(73, 73, 73);
  margin:30px 15px 0 35px;
  width:300px;
  text-align: center;
  border-radius: 3%;
    box-shadow: 2px 3px 8px grey;
}
.Obadabox:hover{
  transform: scale(1.2);
}
.sarabox{
  margin-top:30px;
  float: left;
  background-color: rgb(73, 73, 73);
 margin:30px 15px 0 35px;
  width:300px;
  text-align: center;
  border-radius: 3%;
    box-shadow: 2px 3px 8px grey;

}
.sarabox:hover{
  transform: scale(1.2);
}
#clear{
  clear: both;
}
.maisbox{
  margin-top:30px;
  float: left;
  background-color: rgb(73, 73, 73);
  margin:30px 15px 0 35px;
  width:300px;
  text-align: center;
  border-radius: 3%;
    box-shadow: 2px 3px 8px grey;

}
.maisbox:hover{
  transform: scale(1.2);
}
.ahmadbox{
  margin-top:30px;
  float: left;
  background-color: rgb(73, 73, 73);
  margin:30px 15px 0 35px;
  width:300px;
  text-align: center;
  border-radius: 3%;
    box-shadow: 2px 3px 8px grey;
}
.ahmadbox:hover{
  transform: scale(1.2);
}
.abdbox{
  margin-top:30px;
  float: left;
  background-color: rgb(73, 73, 73);
  text-align: center;
  width:300px;
  position: relative;
 left:200px;
 border-radius: 3%;
    box-shadow: 2px 3px 8px grey;

}
.abdbox:hover{
  transform: scale(1.2);
}

#allimg{
  margin:0px auto ;
  width:700px;
  height: 1000px;
  text-align: center;
 
}
h3{
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  font-family:'Monoton', cursive;;
}