@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Geostar|Jacques+Francois+Shadow|Kumar+One+Outline|Libre+Caslon+Display|Londrina+Sketch|Monoton|Montserrat+Subrayada|Rhodium+Libre|Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton|PT+Serif&display=swap");
body{
  background-color:#ddd;
}
#container{
  background-image: url("../maxresdefault.jpg");
  
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  width:100%;
  height:100%;
  width: 940px;
  margin:20px auto;
  background-color: #fff;
  min-height: 1000px;
  
}

header{
  min-height: 100px;
  background-color: rgba(10, 10, 10, 0.904);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.logo{
  width: 20%;
}

.logo img{
  width: 70px;
  margin:5px 40px 20px 5px;
  float: left;
  position: relative;
  left:20px;
}

nav{
  width: 80%;
  float: right;
  margin-right: 50px;
}
nav ul{
  margin:10px 20px 20px;
  font-size: 22px;
  
}
nav ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
  left:550px;
  top: 25px;
  color: white;
 
}
nav ul li:hover{
  color: rgba(255, 191, 14, 0.918);
  border-bottom: 1px solid white;
}

#calculate  {

width: 50%;
padding: 12px 20px;
margin: 50px 230px;
display: block;
border: 10px solid #ccc;
border-radius: 50px;
box-sizing: border-box;
background-color: rgba(17, 15, 15, 0.733);
}
#rooms {
  border: seagreen;
  width: 150px;
  padding: 12px 20px;
/* margin: 8px ; */
margin-left: 78px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 50px;
box-sizing: border-box;
}
#lable1{
  margin-right: 55px;
}
#lable2{
  margin-right: 60px;
}
#lable3{
  margin-right: 55px;
}
#lable4{
  margin-right: 3px;
}
#lable5{
    margin-right: 29px;
}
#calculate legend{
  font-size:1.5em;
  margin-left: 63px;
    margin-bottom: 11px;
    color: bisque;
  font-family: 'PT Serif', serif;
font-family: 'Monoton', cursive;
}


#calculate label{
  /* text-align:center; */
  font-size:1.2em;
  color: beige;

}
.submit-btn{
  text-align: center;
  }
#calculate input {
  /* text-align:center; */
  line-height:150%;
  font-size:.8em;
width: 150px;
padding: 12px 20px;
margin: 8px 0;
/* display: inline-block; */
border: 1px solid #ccc;
border-radius: 10px;
/* box-sizing: border-box; */

}
/* #calculate{
  display: block;
  height:300px;
  width:300px;
  margin:40px auto;
  border:3px solid rgb(6, 246, 194);
  background-color:rgba(98, 95, 95, 0.74);
  border-radius: 4px;
} */
#output{
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 8px;
  box-sizing: border-box;
  border: solid rgb(250, 240, 240);
  font-size: x-large;
  font-family: 'PT Serif', serif;
  color: #ddd;
  margin: 20px;
  
}
button{
  background-color: rgba(253, 250, 250, 0.767);
  border-radius: 8px;
  box-sizing: border-box;
  border: solid rgb(0, 0, 0);
  font-size: x-large;
  font-family: 'PT Serif', serif;
  margin-left: 255px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
  display: inline-table;
  color: #ddd;

}
#storeButton{
  text-decoration: none;
  color: black;
}
a{
  text-decoration: none;
  color: rgb(255, 246, 246);
}











#copyright{
  background-color: rgb(17, 17, 17);
  padding: 10px 0;
  color: rgb(243, 241, 241);
  text-align: center;
}
