@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed|Cagliostro|Gotu|Monoton&display=swap");
body{
  background-color:#ddd;
}
#container{
  /* background-image: url("../maxresdefault.jpg"); */
  
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  width:100%;
  height:100%;
  width: 940px;
  margin:20px auto;
  background-color: #fff;
  min-height: 1000px;
  
}

header{
  min-height: 100px;
  background-color: rgba(10, 10, 10, 0.904);
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.logo{
  width: 20%;
}

.logo img{
  width: 70px;
  margin:5px 40px 20px 5px;
  float: left;
  position: relative;
  left:20px;
}

nav{
  width: 80%;
  float: right;
  margin-right: 50px;
}
nav ul{
  margin:10px 20px 20px;
  font-size: 22px;
  
}
nav ul li {
  display: inline-block;
  padding: 10px;
  position: relative;
  left:530px;
  top: 25px;
  color: white;
  font-family:'Barlow Condensed', sans-serif;
 
}
nav ul li:hover{
  color: rgba(255, 191, 14, 0.918);
  border-bottom: 1px solid white;
}


button{
  background-color: rgba(253, 250, 250, 0.767);
  border-radius: 8px;
  box-sizing: border-box;
  border: solid rgb(0, 0, 0);
  font-size: x-large;
  font-family: 'PT Serif', serif;
  margin-left: 255px;
  margin-top: 20px;
  width: 150px;
  text-align: center;
  display: inline-table;
  color: #ddd;

}
#storeButton{
  text-decoration: none;
  color: black;
}
a{
  text-decoration: none;
  color: rgb(255, 246, 246);
}

#copyright{
  background-color: rgb(17, 17, 17);
  padding: 10px 0;
  color: rgb(243, 241, 241);
  text-align: center;
}
/* ___________________________________________________ */
#legendtext{
  display: block;
    font-family:'Monoton', cursive;;
    text-align: center;
    font-size:25px;
    width:100%;
    margin:20px auto;
    position: relative;
    
  }
  #legendtext:hover{
    /* border-bottom:2px solid black;   */
    transform: scale(1.2);
  }
  #q1box{
    margin: 0 auto;
    background-color:rgba(105, 107, 105, 0.698);
    width: 50%;
    padding: 10px;
    border-radius:15px;
    font-family:'Barlow Condensed', sans-serif;
  }
  #formalll{
    display: inline;
    float: left;
    font-family:'Barlow Condensed', sans-serif;
  
  }
  #cozy{
    display: inline;
    float: left;
    font-family:'Barlow Condensed', sans-serif;
  }

  #q2box{
    margin: 20px auto;
    background-color: rgba(105, 107, 105, 0.698);
    width: 50%;
    padding: 10px;
    border-radius:15px;
    font-family:'Barlow Condensed', sans-serif;
  }
  #q3box{
    margin: 0px auto;
    background-color: rgba(105, 107, 105, 0.698);
    width: 50%;
    padding: 10px;
    border-radius:15px;
    font-family:'Barlow Condensed', sans-serif;
  }
  #btnform{
    display: block;
    margin: 30px auto;
    font-family:'Barlow Condensed', sans-serif;
    
  }
  #output{
    display: block;
    width: 70%;
    margin: 20px auto;
    /* background-color: rgb(0, 0, 0); */
    text-align: center;
    overflow: hidden;
    font-family:'Barlow Condensed', sans-serif;
    padding-bottom:30px;
    padding-top:20px;
    font-size:20px;
    color: white;
  }
  #outputimage{
    width:70%;
  }
