@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Geostar|Jacques+Francois+Shadow|Kumar+One+Outline|Libre+Caslon+Display|Londrina+Sketch|Monoton|Montserrat+Subrayada|Rhodium+Libre|Saira+Stencil+One&display=swap")

body{
  background-color:#ddd;
}
#container{
  width: 940px;
  margin:20px auto;
  background-color: #fff;
  /* height: 1000px; */
  
}

header{
  min-height: 100px;
  /* background-color: #aaa; */
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.logo{
  width: 20%;
}

.logo img{
  width: 70px;
  margin:5px 20px 20px 5px;
  float: left;
}

nav{
  width: 80%;
  float: right;
}
nav ul{
  margin:10px 50px 0 450px;
  font-size: 22px;
  /* font-family */
}
nav ul li {
  display: inline-block;
  padding: 10px;
  margin:5px;
  background-color: rgba(90, 90, 90, 0.301);
 
}
nav ul li:hover{
  color: rgba(223, 222, 222, 0.918);
  border-bottom: 1px solid;
}

  
#slider{
  position: absolute;
  bottom: 10px;
  overflow: hidden;
  height:650px;
  z-index: 1;
  /* ///// newwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */

}
#slider figure {
  position: relative;
  width: 500%;
  /* height:50%; */
  margin:0;
  left: 0;
  animation: 17s slider infinite;
}
#slider figure img{
  width: 20%;
  float: left;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }

}



#clear{
  clear: both;
}



#content{
  height: 500px;
  /* /////////////////////// */
  background-color: #bbb;
  overflow: hidden;

}
#about{
  margin-top: 400px;
}
#about #WE{
  position: absolute;
  z-index: 1;
  margin-top: -100px;
  font-size:30px;
  font-family: 'Rhodium Libre', serif;
  text-shadow:5px 5px 8px rgba(0, 0, 0, 0.575);
  color:white;
  padding: 0 10%;

}
#about #P1{
  display: inline-block;
  width:80%;
  text-align: center;
  padding: 0 10%;
}
.split{

  margin-bottom: 100px;
}
#buttonbox{
  margin-top: 50px;
  /* padding: 0 37%; */

}

#butn1{
  background-color: black;
  color: white;
  /* height:40PX; */
  display: block;
  width: 300px;
  height: 30px;
  /* padding: 0 30%; */
  margin:0 auto;
}
#butn2{
  background-color: black;
  color: white;
  /* height:40PX; */
  display: block;
  width: 300px;
  height: 30px;
  /* padding: 0 30%; */
  margin:10px auto;


}








footer{
  height: 100px;
  background-color: #ccc;
}


#info{
  height: 100px;
  background-color: #ccc;
}
#copyright{
  background-color: #333;
  padding: 10px 0;
  color: #999;
  text-align: center;
}