@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Geostar|Jacques+Francois+Shadow|Kumar+One+Outline|Libre+Caslon+Display|Londrina+Sketch|Monoton|Montserrat+Subrayada|Rhodium+Libre|Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed|Cagliostro|Gotu|Monoton&display=swap");

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body{
  background-color:#ddd;
}
#container{
  width: 940px;
  margin:20px auto;
  background-color: #fff;
  
  
}

header{
  min-height: 100px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.logo{
  width: 20%;
}

.logo img{
  width: 70px;
  margin:5px 20px 20px 5px;
  float: left;
  display:block;
  position: relative;
  left:10px;
  top:-11px;
  margin-top:-5px;
  padding: 15px;
  
}

nav{
  width: 80%;
  float: right;
}
nav ul{
  margin:15px 50px 0 450px;
  font-size: 22px;
  
}
nav ul li {
  display: inline-block;
  padding: 10px;
  margin:0px;
  background-color: rgba(149, 149, 149, 0.199);
 
}
nav ul li:hover{
  color: rgba(223, 222, 222, 0.918);
  border-bottom: 2px solid;
}

a{
  color: black;
  text-decoration: none;
  
}
  
#slider{
  position: absolute;
  bottom: 10px;
  overflow: hidden;
  height:650px;
  z-index: 1;
  

}
#slider figure {
  position: relative;
  width: 500%;
  margin:0;
  left: 0;
  animation: 17s slider infinite;
}
#slider figure img{
  width: 20%;
  float: left;
}
@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }

}



#clear{
  clear: both;
}




#about{
  margin-top: 400px;
}
#about #anmi{
  position: absolute;
  z-index: 1;
  margin-top: -100px;
  font-size:30px;
  font-family: 'Rhodium Libre', serif;
  text-shadow:5px 5px 8px rgba(0, 0, 0, 0.575);
  color:white;
  padding: 0 10%;

}
#anmi {
  color:#999;
  text-transform: uppercase;
  font-size:39px;
  font-weight:bold;
  padding-top:200px;  
  position:fixed;
  width:100%;
  bottom:39%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}


#flip div:first-child div {
  background:#353234be;
}
#flip .anim12 {
  background:rgba(37, 39, 32, 0.555);
}
#flip div:last-child div {
  background:rgba(37, 39, 32, 0.555);
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}








#logoabout{
  display: block;
  width:5%;
  height:5%;
  margin: 2px auto;
  position: relative;
  top: -15px;
}
#logoabout:hover{
  transform: scale(1.2);

}

#about #P1{
  display: block;
  width:80%;
  text-align: center;
  margin: 0 auto;
  font-family:'Barlow Condensed', sans-serif;
  
}

.split{

  margin-bottom: 100px;
}

h3{
  text-align: center;
  font-size:30px;
margin:20px 0;
}
#WHO{
  font-family:'Monoton', cursive;;
  text-align: center;
  font-size:25px;
  width:40%;
  margin:15px auto;
}
#WHO:hover{
  transform: scale(1.2);
  
}



/* ________________________________________________ */




#buttonbox{
  display: block;
  margin: 50px auto;
  width:70%;
  /* background-color: lightcoral;
  height: 100px; */
 
}

#butn1{
  margin:0 5%;
  background-color: black;
  color: white;
  display:block;
  width: 150px;
  height: 30px;
  border:1px solid black;
  border-radius:10px;
  float: left;
  font-family:'Barlow Condensed', sans-serif;
}
#butn1:hover{
  background-color: rgb(88, 85, 85);
  color: black;
 
}

#butn2{
  margin:0 5%;
  background-color: black;
  color: white;
  display:block;
  font-family:'Barlow Condensed', sans-serif;
  width: 150px;
  height: 30px;
  border:1px solid black;
  border-radius:10px;
  float: left;
}
#butn2:hover{
  background-color: rgb(88, 85, 85);
  color: black;
}
#butn3{
  margin:0 5%;
  background-color: black;
  color: white;
  display:block;
  font-family:'Barlow Condensed', sans-serif;
  width: 150px;
  height: 30px;
  border:1px solid black;
  border-radius:10px;
  float: left;
}
#butn3:hover{
  background-color: rgb(88, 85, 85);
  color: black;
 }






#clear{
  clear: both;
}


#content{
  height: 500px;
 
  overflow: hidden;

}

#pictext1{
  height: 200px;
  margin-bottom:150px;
}
#pictext1 img{
  margin:0 20px ;
  display:block;
  height: 120%;
  float: left;
}
#word1{
    font-family:'Monoton', cursive;;
    text-align: center;
    font-size:25px;
    width:40%;
    margin:10px auto 5px;
  }
  #word1:hover{
    /* border-bottom:2px solid black;   */
    transform: scale(1.2);
  }


#pro1text{
  display: inline-block;
  position: relative;
  background-color: rgba(36, 80, 98, 0.397);
  left: -70px;
  top:40px;
  width: 50%;
  padding: 20px;
  border-left:4px solid black;
  font-family:'Barlow Condensed', sans-serif;
  box-shadow:-5px 3px 15px grey;
  animation: moveleft 4s ease-in;
  
}
/* _______________________________________________________- */
#splitseller{margin-bottom: 10px;}

#sellsbox{
  display: block;
  height: 200px;
  width: 900px;
  background-color: rgba(176, 175, 177, 0.212);
  margin: 5px auto;
}
#bestseller{
  font-family:'Monoton', cursive;;
  text-align: center;
  font-size:25px;
  width:40%;
  margin:5px auto;
  
}
#bestseller:hover{
   
  transform: scale(1.2);
  
}

#sellsbox img{
  display: block;
 
  height: 70%; 
  float: left;
  margin:15px;
  border-radius:180px;
  margin-top: 30px;
  margin-left:60px;
  box-shadow:-5px 3px 15px grey;

}
#sellsbox img:hover{
  transform:scale(1.3)
}



#logoprojects1{
 
    display: block;
    width:5%;
    height:5%;
    margin: 50px auto 20px;
    position: relative;
   
  }
  #logoprojects1:hover{
    transform: scale(1.2);

}

#content{
  height: 400px;
}
#t360text{
  text-align: center;
  font-size:30px;
  width:30%;
  margin:25px auto;
  
  color: black;
}

#t360text:hover{
  border-bottom:2px solid black;  
  transform: scale(1.2);
}



#frame1{
  display: block;
  width: 95%;
  margin: 0 auto;
}

#info{
  margin-top:70px;
  background-color:rgba(83, 82, 82, 0.966);
}




#contact img{
  display: block;
  width:4%;
  float: left;
  margin:10px 20px;
  position: relative;
  left: 390px;
  
}


.mapouter{
 margin-top:15px;
 display: block;
 float:left;
 margin-right: 60px;
 margin-left:30px;
 margin-bottom: 15px;
}


ul{
  position: block;
  color: rgb(221, 217, 217);
  font-size:25px;
  float: right;
  margin-top: 30px;
  margin-right: 60px;
  font-family:'Barlow Condensed', sans-serif;

}
ul img{
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 20%;
  padding-right: 10px;
  
}
ul li {
  padding-top: 10px;
  }

#copyright{             
clear: both;
background-color: rgb(59, 59, 59);
color:  rgb(221, 217, 217);
text-align: center;
padding-top:5px;
padding-bottom:5px;
font-family:'Barlow Condensed', sans-serif;
}
@keyframes moveleft
{
    0%
    {
opacity: 0;
    }
    100%
    {
        transform: translate(-50px);
    opacity: 1;
    }
}
